In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [25]:
df = pd.read_csv('./winequality-red.csv')
df['count'] = 1
df[['count', 'quality']].groupby(['quality']).count().reset_index()

   quality  count
0        3     10
1        4     53
2        5    681
3        6    638
4        7    199
5        8     18

In [26]:
train_data, test_data = train_test_split(df, test_size=0.2, stratify=df['quality'])
train_data[['count', 'quality']].groupby(['quality']).count().reset_index()

   quality  count
0        3      8
1        4     42
2        5    545
3        6    510
4        7    159
5        8     15

In [27]:
test_data[['count', 'quality']].groupby(['quality']).count().reset_index()

   quality  count
0        3      2
1        4     11
2        5    136
3        6    128
4        7     40
5        8      3