In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('./winequality-red.csv')
df['count'] = 1
df[['count', 'quality']].groupby(['quality']).count().reset_index()

FileNotFoundError: ignored

In [ ]:
train_data, test_data = train_test_split(df, test_size=0.2, stratify=df['quality'])
train_data[['count', 'quality']].groupby(['quality']).count().reset_index()

In [ ]:
test_data[['count', 'quality']].groupby(['quality']).count().reset_index()

In [3]:
df = pd.read_csv('./spambase_csv.csv')
df['count'] = 1
df[['count', 'class']].groupby(['class']).count().reset_index()

   class  count
0      0   2788
1      1   1813

In [4]:
train_data, test_data = train_test_split(df, test_size=0.15, stratify=df['class'])
train_data[['count', 'class']].groupby(['class']).count().reset_index()

   class  count
0      0   2369
1      1   1541

In [5]:
test_data[['count', 'class']].groupby(['class']).count().reset_index()

   class  count
0      0    419
1      1    272

In [6]:
X_train = train_data.drop(['class','count'], axis = 1)
y_train = train_data['class']

X_train, y_train

(      word_freq_make  ...  capital_run_length_total
 3722            0.00  ...                       117
 1910            0.31  ...                        94
 819             0.47  ...                       742
 3265            0.49  ...                        87
 2398            0.00  ...                        26
 ...              ...  ...                       ...
 277             0.00  ...                       373
 3861            0.19  ...                       207
 2931            0.00  ...                       168
 19              0.00  ...                       186
 2314            0.00  ...                       177

 [3910 rows x 57 columns], 3722    0
 1910    0
 819     1
 3265    0
 2398    0
        ..
 277     1
 3861    0
 2931    0
 19      1
 2314    0
 Name: class, Length: 3910, dtype: int64)

In [12]:
X_test = test_data.drop(['class','count'], axis = 1)
y_test = test_data['class']

X_test, y_test

(      word_freq_make  ...  capital_run_length_total
 1684            0.00  ...                       981
 561             0.00  ...                        96
 563             0.00  ...                       158
 1523            0.49  ...                       966
 4412            0.71  ...                        32
 ...              ...  ...                       ...
 2062            0.34  ...                       250
 622             0.00  ...                        36
 1701            1.06  ...                       713
 483             0.65  ...                       595
 2983            0.00  ...                        30

 [691 rows x 57 columns], 1684    1
 561     1
 563     1
 1523    1
 4412    0
        ..
 2062    0
 622     1
 1701    1
 483     1
 2983    0
 Name: class, Length: 691, dtype: int64)

In [13]:
X_train.columns

{x : np.array([np.average(X_train[x]), np.std(X_train[x])]) for x in X_train.columns}

{'capital_run_length_average': array([ 5.08067468, 32.56861706]),
 'capital_run_length_longest': array([ 52.04731458, 203.628561  ]),
 'capital_run_length_total': array([288.5797954 , 627.85468789]),
 'char_freq_%21': array([0.27193223, 0.84819434]),
 'char_freq_%23': array([0.04646496, 0.46123246]),
 'char_freq_%24': array([0.07461611, 0.21898105]),
 'char_freq_%28': array([0.13848107, 0.27344917]),
 'char_freq_%3B': array([0.03991049, 0.25445775]),
 'char_freq_%5B': array([0.01800358, 0.11665663]),
 'word_freq_000': array([0.10323785, 0.35830662]),
 'word_freq_1999': array([0.13563427, 0.42164359]),
 'word_freq_3d': array([0.06500767, 1.39700591]),
 'word_freq_415': array([0.04385166, 0.29964028]),
 'word_freq_650': array([0.12270077, 0.52764304]),
 'word_freq_85': array([0.10329156, 0.53495673]),
 'word_freq_857': array([0.04295652, 0.29848219]),
 'word_freq_address': array([0.20896675, 1.2725438 ]),
 'word_freq_addresses': array([0.05120716, 0.26623284]),
 'word_freq_all': array([0.27928389, 0.49796147]),
 'word_freq_business': array([0.14292583, 0.44112763]),
 'word_freq_conference': array([0.0300179 , 0.27839396]),
 'word_freq_credit': array([0.07944246, 0.42654461]),
 'word_freq_cs': array([0.0434578 , 0.36239543]),
 'word_freq_data': array([0.09853197, 0.54951375]),
 'word_freq_direct': array([0.06277494, 0.33038859]),
 'word_freq_edu': array([0.19149105, 0.96749274]),
 'word_freq_email': array([0.18272634, 0.5187366 ]),
 'word_freq_font': array([0.12805371, 1.06440775]),
 'word_freq_free': array([0.24816368, 0.79804909]),
 'word_freq_george': array([0.73776726, 3.27255266]),
 'word_freq_hp': array([0.54197698, 1.6477348 ]),
 'word_freq_hpl': array([0.26496675, 0.89784262]),
 'word_freq_internet': array([0.09746547, 0.3366773 ]),
 'word_freq_lab': array([0.09001023, 0.5468535 ]),
 'word_freq_labs': array([0.09949361, 0.44597461]),
 'word_freq_mail': array([0.24329668, 0.66243166]),
 'word_freq_make': array([0.10557289, 0.30634195]),
 'word_freq_meeting': array([0.12683376, 0.70290461]),
 'word_freq_money': array([0.09759079, 0.46523137]),
 'word_freq_order': array([0.09120716, 0.27965767]),
 'word_freq_original': array([0.04770077, 0.23024508]),
 'word_freq_our': array([0.31605627, 0.67384638]),
 'word_freq_over': array([0.09626087, 0.27805285]),
 'word_freq_parts': array([0.01513043, 0.23903048]),
 'word_freq_people': array([0.09342711, 0.28724286]),
 'word_freq_pm': array([0.07494629, 0.39019411]),
 'word_freq_project': array([0.07682097, 0.57060841]),
 'word_freq_re': array([0.30942455, 1.04550699]),
 'word_freq_receive': array([0.05995652, 0.20378433]),
 'word_freq_remove': array([0.11451918, 0.38249826]),
 'word_freq_report': array([0.05362148, 0.28119207]),
 'word_freq_table': array([0.00554731, 0.07728841]),
 'word_freq_technology': array([0.09473657, 0.38886315]),
 'word_freq_telnet': array([0.05846803, 0.3397326 ]),
 'word_freq_will': array([0.55070077, 0.87421946]),
 'word_freq_you': array([1.66314322, 1.77845675]),
 'word_freq_your': array([0.80674936, 1.19604373])}